body {
	margin: 0 auto;
	padding: 0;
	border: 0;
	text-align: left;
	font: 12px "ו", Verdana, Arial, Helvetica, sans-serif;
}
.passportCardTitle{
	height: 20px;
}
.calisPassport {
	font-weight:bold;
	color:#666666;
	float:left;
}
.logout{
	font-weight:bold;
	float:right;
}
.logout a:link,.logout a:visited{
	text-decoration:none;
	color:#000000;
}
.logout a:hover,.logout a:active{
	text-decoration: underline;
}
.passportCardMain{
	height: 140px;
	border: 1px solid #C3CECD;
}
.passportWelcomeBox{
	background: #FFFFFF;
	height: 75px;
	margin: 10px 10px 1px 10px;
	border: 1px solid #C3CECD;
}
.loginIcoBox{
	height:50px;
	width:50px;
	margin:4px;
	float:left;
}
.loginIcoBox img{
	height:48px;
	width:48px;
	border: 1px solid #C3CECD;
}
.loginInfoBox{
	height:70px;
	width: 168px;
	margin:2px;
	float:right;
}
.userInfoBox{
	margin-top:1px 0px 0px 0px;
	height: 32px;
	border-bottom:1px solid #CCCCCC;
}
.updateBox{
	margin:1px 0px 0px 0px;
	height:32px;
	text-align: center;
	display:table-cell;
	vertical-align:middle;
}
.updateBox a:link,.updateBox a:visited{
	text-decoration:none;
	color:#FC7821;
	margin:0pt 2px;

}
.updateBox a:hover,.updateBox a:active{
	text-decoration:underline;
}
.deco{
	background:#FFFFFF;
	text-align:center;
	height:25px;
	width:40px;
	margin:-2px 0px 0px 10px;
	overflow:auto;
	border-bottom:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	float:left;
}
.passportLinkBox{
	height: 20px;
	width: 190px;
	float:right;
	margin: 4px 10px 0px 1px;
}
.passportLinkBox ul,.passportLinkBox li,.passportLinkBox ol{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
.passportLinkBox ul{
	margin:0px;
	padding:0px;
}
.passportLinkBox li{
	float:left;
	margin-left:3px;
}
.passportLinkBox a:link,.passportLinkBox a:visited{
	text-decoration:none;
	color:#666666;
	margin:0pt 2px;
	padding:2px 2px 1px;
}
.passportLinkBox a:hover,.passportLinkBox a:active{
	text-decoration:underline;
}
