@charset "utf-8";
/* CSS Document */
.userForm, .userForm table{
	width:100%;
	overflow:hidden;
	font-family: "宋体", "新宋体", "Times New Roman", Times, serif;
	font-weight:normal;
	font-size:12px;
}
.userForm th{
	height:32px;
	width:20%;	
	text-align:center;
	color:#40608E;
	border-bottom:1px solid #E8F3FD;
}

.userForm td{
	height:32px;
	text-align:left;		
	border-bottom:1px solid #E8F3FD;
}
.dijitReset .dijitInputField{
	height: 20px;
}
.dijitReset .dijitValidationIcon{
	height: 20px;
}